<!DOCTYPE html>
<html lang="en-us" ng-app="sharingButton">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">

  <title>Share-it | JS library</title>
  <script type="text/javascript" src="./assets/min-app.js" charset="utf-8"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Share-it - simple JS library for create sharing buttons with counters. The JavaScript library is written without using JQuery or any other tools / frameworks.">
  <meta name="keywords" content="share-it, share-buttons, share, js-library">

  <link rel="stylesheet" href="./assets/min-vendor.css" />
  <link rel="stylesheet" type="text/css" href="./assets/normalize.css" media="screen">
  <link href="https://rawgit.com/distroid/share-it/master/lib/themes/style.css" rel="stylesheet" id="button_styles" type="text/css">
  <link rel="stylesheet" type="text/css" href="./assets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="./assets/github-light.css" media="screen">
  <link rel="stylesheet" href="./assets/styles.css" />

  <script type="text/javascript">
    var assets_url = 'https://rawgit.com/distroid/share-it/master/lib'
    var js_path    = '/share-it.min.js';
    var css_path   = '/themes/';
    var css_url   = 'https://rawgit.com/distroid/share-it/master/lib/themes/';
  </script>
</head>
<body id="page-body">
  <section class="page-header">
    <h1 class="project-name">Share-it</h1>
    <h2 class="project-tagline"></h2>
    <a href="https://github.com/distroid/share-it" class="btn">View on GitHub</a>
    <a href="https://github.com/distroid/share-it/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/distroid/share-it/tarball/master" class="btn">Download .tar.gz</a>
  </section>

  <div class="container main-block">

    <p>
      <strong>Share-it</strong> &mdash; simple JS library for create sharing buttons with counters.
      The JavaScript library is written without using JQuery or any other tools / frameworks.
    </p>
    <p>For use:</p>
    <ol>
      <li>Copy widget HTML code to your page.</li>
      <li>Include JS file on footer, for automatic init.</li>
      <li>Or init widget manually via constructor.</li>
    </ol>

    <br/>

    <div ng-controller="mainController">

      <div class="center-block text-center preview-buttons">
        <div class="share-it-buttons" attribute-add="sharing.block_options">
          <div class="vkontakte"     ng-if="sharing.media['vkontakte'].selected"     attribute-add="sharing.media['vkontakte'].options"></div>
          <div class="linkedin"      ng-if="sharing.media['linkedin'].selected"      attribute-add="sharing.media['linkedin'].options"></div>
          <div class="facebook"      ng-if="sharing.media['facebook'].selected"      attribute-add="sharing.media['facebook'].options"></div>
          <div class="twitter"       ng-if="sharing.media['twitter'].selected"       attribute-add="sharing.media['twitter'].options"></div>
          <div class="google-plus"   ng-if="sharing.media['google-plus'].selected"   attribute-add="sharing.media['google-plus'].options"></div>
          <div class="pinterest"     ng-if="sharing.media['pinterest'].selected"     attribute-add="sharing.media['pinterest'].options"></div>
          <div class="mailru"        ng-if="sharing.media['mailru'].selected"        attribute-add="sharing.media['mailru'].options"></div>
          <div class="odnoklassniki" ng-if="sharing.media['odnoklassniki'].selected" attribute-add="sharing.media['odnoklassniki'].options"></div>
        </div>
      </div>

      <form class="form-horizontal">

        <h3>Supported services</h3>
        <div class="form-group">
          <div class="social-media col-sm-3" ng-repeat="media in ::sharing.media">
            <div class="checkbox">
              <label style="white-space: nowrap">
                <input type="checkbox" ng-model="::media.selected" ng-click="selected_media(media.selected)"/>
                <img height="16" ng-src="https://www.google.com/s2/favicons?domain={{::media.domain}}">&nbsp;{{::media.title}}
              </label>
            </div>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3>Themes</h3>
        <p>
          Currently, there are 4 themes - default, minimal, minimal color and transparent.
          For use the theme you want, you need only include the appropriate CSS file.
        </p>
        <div class="form-group">
          <div class="col-sm-3" ng-repeat="theme in ::sharing.themes">
            <div class="radio">
              <label style="white-space: nowrap">
                <input type="radio" ng-model="::sharing.button_theme" name="theme_buttons" value="{{::theme.value}}" ng-change="theme_media(theme.value)"/>
                {{::theme.title}}
              </label>
            </div>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3>Settings</h3>

        <div class="form-group settings">
          <div class="checkbox col-sm-12">
            <label>
              <input ng-model="sharing.options.counters" ng-click="check_counters()" type="checkbox" />Use counters
            </label>
          </div>
        </div>

        <div class="form-group settings">
          <div class="checkbox col-sm-12">
            <label>
              <input ng-model="sharing.is_additional_options" type="checkbox" />Additional options
            </label>
          </div>
        </div>

        <div class="form-group" ng-if="sharing.is_additional_options">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="url-input" class="col-sm-3 control-label">Page url</label>
              <div class="col-sm-9">
                <input ng-model="sharing.options.url" type="text" class="form-control" id="url-input" placeholder="Site url if different from the current" />
              </div>
            </div>

            <div class="form-group">
              <label for="title-input" class="col-sm-3 control-label">Page title</label>
              <div class="col-sm-9">
                <input ng-model="sharing.options.title" type="text" class="form-control" id="title-input" placeholder="Page title if different from the current" />
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" ng-class="is_active_tab(type)" ng-repeat="(type, media) in ::sharing.media">
                <a href="javascript:void(0)" aria-controls="{{::type}}" ng-click="activate_tab(type)" role="{{::type}}" data-toggle="tab">{{::media.title}}</a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane" ng-class="is_active_tab(type)" id="{{::type}}" ng-repeat="(type, media) in ::sharing.media">
                <div class="form-group" ng-repeat="(param_name, param) in ::sharing.media_options[type]">
                  <label for="{{::type}}-input-{{::param_name}}" class="col-sm-3 control-label">{{::param.title}}</label>
                  <div class="col-sm-9">
                    <input id="{{::type}}-input-{{::param_name}}" ng-model="::sharing.media_options[type][param_name].value" type="text" class="form-control" placeholder="{{::param.placeholder}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hr-line-dashed"></div>

        <h3>Сode</h3>

        <div class="form-group">
          <div class="col-sm-12">
            <textarea from-text-area="from-text-area" class="form-control" data-mode="text/html" data-content="sharing.code" /></textarea>
          </div>
        </div>
      </form>
    </div>

    <footer class="site-footer">
      <span class="site-footer-owner">
        <a href="https://github.com/distroid/share-it">Share-it</a> is maintained by
        <a href="https://github.com/distroid">distroid</a>.
      </span>
    </footer>
  </div>

  <script type="text/javascript" src="https://rawgit.com/distroid/share-it/master/lib/share-it.min.js" charset="utf-8"></script>

</body>
</html>
